<div class="formulaire_spip formulaire_recherche form-search[ (#ENV{class})]" id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get"><div>
	[(#ENV{action}|form_hidden)]
	[<input type="hidden" name="lang" value="(#ENV{lang})" />]
	<label for="#ENV{_id_champ}" class=""><:info_rechercher_02:></label>
	<div class="input-group">
		<input type="[(#HTML5|?{search,text})]"
		       class="search text search-query form-control"
		       name="recherche"
		       id="#ENV{_id_champ}"[
		       value="(#ENV{recherche})"]
		       placeholder="<:info_rechercher|attribut_html:>"
		       accesskey="4" autocapitalize="off" autocorrect="off" />
		<span class="input-group-append">
			<button type="submit" class="btn btn-outline-secondary" title="<:info_rechercher|attribut_html:>" >&gt;&gt;</button>
		</span>
	</div>
</div></form>
</div>
