
<div class="formulaire_spip formulaire_#FORM formulaire_#FORM-#ENV{id,#ENV{id_evenement}}">

	[(#PLUGIN{declinaisons}|?{
		#SET{champs, #INCLURE{fond=formulaires/inc-reservation_evenements_declinaisons,env}}
		,
		#SET{champs, #INCLURE{fond=formulaires/inc-reservation_evenements,env}}
	})]
	[(#GET{champs}|?{
		[<div class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</div>]
		[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV**{message_erreur})</p>]
		[(#ENV{editable})
			<form method='post' action='#ENV{action}' enctype='multipart/form-data'>
				<div>
					[(#REM) declarer les hidden qui declencheront le service du
					formulaire parametre : url d'action ]
					#ACTION_FORMULAIRE{#ENV{action}}
					<fieldset>
						<legend>
							<:agenda:label_vous_inscrire:>
						</legend>
						<div class="editer-groupe evenements">
							#GET{champs}
						</div>
					</fieldset>
					<fieldset>
						<legend>
							<:form_forum_identifiants:>
						</legend>
						<INCLURE {fond=formulaires/inc-reservation_connection,env} />
					</fieldset>
					[(#CONFIG{reservation_evenement/destinataires_supplementaires}|=={on}|oui)
					<fieldset>
						<legend><:reservation:notifications_cfg_titre:></legend>
						<div class="editer-groupe">
							[(#SAISIE{
								input,
								destinataires_supplementaires,
								label=<:reservation:label_destinataires_supplementaires:>,
								explication=<:reservation:explication_destinataires_supplementaires:>})]
						</div>
					</fieldset>]
					<INCLURE {fond=formulaires/inc-reservation_champs_extras_reservation,env} />

					[(#REM) ajouter les saisies supplementaires : extra et autre, a cet
					endroit ]
					<!--extra-->
					<p class='boutons'>
						<input type='submit' class='submit' value='<:bouton_enregistrer:>' />
					</p>
				</div>
			</form>
		]
		,<:reservation:erreur_pas_evenement:>
		})]
</div>
