<footer class="clearfix" role="contentinfo">
	<div class="row row-cols-lg-3 mx-auto">
		<div class="social">
			<h4 class="text-center">Rejoignez-nous</h4>

			<div class="d-flex justify-content-center">
				<a href="https://www.facebook.com/droles2jeux/">
					<i class="px-2 bi bi-facebook"></i>
				</a>
				<a href="https://discord.gg/Qc4JkUTFdZ">
					<i class="px-2 bi bi-discord"></i>
				</a>
				<a href="https://chat.whatsapp.com/BdUROcErtT37hhUtWkMtJT">
					<i class="px-2 bi bi-whatsapp"></i>
				</a>
			</div>
		</div>

		<div class="contact">
			<h4 class="text-center text-lg-start">Contact et horaires</h4>

			<div class="d-flex">
				<i class="px-2 bi bi-geo-alt-fill"></i>
				<div>
					#IDENTITE_NOM_ORGANISATION<br>
					#IDENTITE_ADRESSE<br>
					#IDENTITE_CODE_POSTAL #IDENTITE_VILLE
				</div>
			</div>

			<div class="d-flex align-items-center">
				<i class="px-2 bi bi-envelope-fill"></i>
				<a href="mailto:%69%6E%66%6F%40%64%72%6F%6C%65%73%2D%64%65%2D%6A%65%75%78%2E%6F%72%67">info@droles-de-jeux.org</a></li>
			</div>

			<div class="d-flex align-items-center">
				<i class="px-2 bi bi-telephone-fill"></i>
				06&nbsp;03&nbsp;04&nbsp;73&nbsp;48
			</div>

			<div class="d-flex align-items-center">
				<i class="px-2 bi bi-calendar3"></i>
				Tous les samedis de 15h à 22h
			</div>
		</div>

		<div class="menu">
			<h4 class="text-center text-lg-start">Menu</h4>

			<div class="d-flex justify-content-between">
				<ul class="footer-list px-0">
					<li><a href="#URL_ARTICLE{3}">Mentions legales</a></li>
					<li><a href="#URL_ARTICLE{4}" >Données personnelles</a></li>
					<li><a href="#URL_ARTICLE{1}">Où nous trouver</a></li>
					<li><a href="#URL_PAGE{contact}"><:contact:></a></li>
					<li><a href="#URL_PAGE{plan}" class="first"><:plan_site:></a></li>
					<li><a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>" class="last">RSS&nbsp;2.0</a></li>
				</ul>

				[<small class="generator">
					<a href="https://www.spip.net/" rel="generator" title="<:site_realise_avec_spip:>" class="generator spip_out">
						(#CHEMIN{spip.svg}|balise_svg{'',SPIP})
					</a>
				</small>]
			</div>
		</div>
	</div>
</footer>
