[(#REM) Standard tags ]
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="version" content="1.0.1"/>
[<meta name="generator" content="SPIP (#SPIP_VERSION|header_silencieux)" />]

[(#REM) Linking the RSS stream ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]

[(#REM) SPIP CSS and plugins CSS ]
[<link rel="stylesheet" href="(#CHEMIN{css/spip.css}|direction_css|timestamp)" type="text/css" />]
#INSERT_HEAD_CSS

[(#REM) Bootstrap CSS ]
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous"
>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

[(#REM) Template CSS overloads ]
[<link rel="stylesheet" href="(#CHEMIN{css/fonts.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/links.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/media.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/layout.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/nav.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/theme.css}|direction_css|timestamp)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/coraxspip.css}|direction_css|timestamp)" type="text/css" />]

[(#REM) Include jQuery and compact head ]
#INSERT_HEAD

[(#REM) Include our own scripts ]
[<script src="(#CHEMIN{js/script.js}|timestamp)" type="text/javascript"></script>]
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

[(#REM) Favicons ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]

[(#REM) Meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]
