<B_nav>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-lg-4">
		<div class="container-fluid mx-0">
			<!-- Logo -->
			<a class="navbar-brand mx-3 p-0" href="#">
				[(#LOGO_SITE_SPIP|image_reduire{0,50})]
			</a>

			<!--Burger menu -->
			<button
				class="navbar-toggler mx-3"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarToggler"
				aria-controls="navbarToggler"
				aria-expanded="false"
				aria-label="Menu"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Menu bar -->
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav text-nowrap me-lg-auto">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#URL_SITE_SPIP">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="[(#URL_PAGE{agenda})]">Agenda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="[(#URL_ARTICLE{1})]">A propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="[(#URL_ARTICLE{5})]">Nos activités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="[(#URL_PAGE{liste-articles})]">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="[(#URL_PAGE{fessti-jeux})]">Fessti'Jeux</a>
					</li>
				</ul>

				<form class="mx-3 d-flex justify-content-center" role="login">
					[(#SESSION{id_auteur}|non)
						<a class="btn btn-primary mx-1" href="[(#URL_PAGE{login}|parametre_url{url,#SELF})]" rel="nofollow">Connexion</a>
					]
					[(#SESSION{id_auteur}|oui)
						<a class="btn btn-primary mx-1" href="#URL_LOGOUT" rel="nofollow">Déconnexion</a>
					]
				</form>
			</div>
		</div>
	</nav>
</B_nav>
