


		<div class="row">
			<div class="col-12 px-0">
				<div class="card my-3">
					<div class="card-body">
						<div class="formulaire_spip formulaire_editer formulaire_editer_evenement formulaire_editer_evenemnt-#ENV{id_evenement,nouveau}">
							[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
							[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV**{message_erreur})</p>]
							[(#ENV{editable})
							<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
								[(#REM) declarer les hidden qui declencheront le service du formulaire
								parametre : url d'action ]
								#ACTION_FORMULAIRE{#ENV{action}}
								<input type='hidden' name='id_evenement' value='#ID_EVENEMENT' />
								<input type='hidden' name='id_parent' value='#ENV{id_parent}' />
								<div class="editer-groupe">
									<div class="editer editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
										<label for="titre"><:agenda:evenement_titre:></label>[
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
										]<input type='text' class='text' name='titre' id='titre' value="#ENV{titre}" />
									</div>
									[(#ENV{id_evenement_source}|non)
									<div class='editer editer_parent[ (#ENV**{erreurs}|table_valeur{id_parent}|oui)erreur]'>
										<label for="id_parent"><:agenda:evenement_article:></label>[
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_parent})</span>
										]<INCLURE{fond=formulaires/selecteur/articles}{selected=#ENV{parents_id}}{id_article=#ENV{id_parent}}{name=parents_id}{select=1}{rubriques=0}>
									</div>]
									[(#ENV{id_evenement_source}|oui)
									<div class="editer editer_parent_disabled">
										<label for="id_parent"><:agenda:evenement_article:></label>
										<input id="id_parent" class='text' type="text" disabled="disabled" value="[(#INFO_TITRE{article, #ENV{id_parent}}|attribut_html)]">
									</div>]
									<div class='editer editer_date fieldset'>
										<fieldset>
											<legend><:agenda:evenement_date:></legend>
											<div class="editer-groupe">
												<div class="editer pleine_largeur editer_horaire[ (#ENV**{erreurs}|table_valeur{horaire}|oui)erreur]">
													<label for="horaire"><:agenda:evenement_horaire:></label>[
													<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{horaire})</span>
													]<input type='checkbox' name='horaire' id='horaire' value='non' [(#ENV{horaire}|=={oui}|non)checked='checked']
														onclick="if (this.checked==false) { $('span.afficher_horaire').show();} else {$('span.afficher_horaire').hide();}" />
												</div>
												[(#ENV{_saisie_timezone}|oui)
												<div class="editer pleine_largeur editer_timezone_affiche[ (#ENV**{erreurs}|table_valeur{horaire}|oui)erreur]">
													<label for="timezone_affiche"><:agenda:evenement_timezone_affiche:></label>[
													<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{timezone_affiche})</span>
													][(#ENV{timezone_affiche}|agenda_tz_affiche_selecteur{timezone_affiche,timezone_affiche})]
												</div>]
												<div class="editer d-inline pleine_largeur editer_date_debut_fin[ (#ENV**{erreurs}|table_valeur{date_debut}|oui)erreur][ (#ENV**{erreurs}|table_valeur{date_fin}|oui)erreur]">
													[
													<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_debut})</span>][
													<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_fin})</span>
													]<label for="date_debut"><:agenda:evenement_date_de:></label><input type='text' class='text date d-inline' name='date_debut' id='date_debut' data-range-after='#date_fin' size='10' maxlength='10' value="[(#ENV{date_debut})]" />
													<span class='afficher_horaire[(#ENV{horaire}|=={oui}|non)none]'>
													<label for='heure_debut' class='heure'><:agenda:evenement_date_a_immediat:></label>
													<input type='text' class='text heure d-inline' name='heure_debut' id='heure_debut' size='4' maxlength='5' value="[(#ENV{heure_debut})]"
													/></span>
													<label for="date_fin" class='date_fin'><:agenda:evenement_date_a:></label>
													<span class='afficher_horaire[(#ENV{horaire}|=={oui}|non)none]'><label for='heure_fin' class='heure'><:agenda:evenement_date_a_immediat:></label>
													<input type='text' class='text heure d-inline' name='heure_fin' id='heure_fin' size='4' maxlength='5' value="[(#ENV{heure_fin})]"
													/></span><input type='text' class='text date d-inline' name='date_fin' id='date_fin' data-range-before='#date_debut' size='10' maxlength='10' value="[(#ENV{date_fin})]" />
												</div>
											</div>

										</fieldset>
									</div>
									[(#ENV{id_evenement_source}|non)
									<div class="editer pleine_largeur editer_repetitions[ (#ENV**{erreurs}|table_valeur{repetitions}|oui)erreur]">#SET{show_repet,'1'}
										<label for="repetitions"><:agenda:evenement_repetitions:></label>[#SET{show_repet,'0'}
										(#ENV{repetitions}|non)<button type="button" onclick="$(this).hide().next().show('fast');return false;" class="btn_secondaire"><:agenda:ajouter_repetition:></button>][
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{repetitions})</span>
										]<div class='ajouter_repetitions'[(#GET{show_repet}|non|) style="display: none;"]>
											<div id='repetitions_picker'></div>
											<textarea name='repetitions' id='repetitions'>#ENV{repetitions}</textarea>
										</div>
									</div>
									][(#ENV{id_evenement_source}|oui)
									<div class="editer pleine_largeur editer_repetitions">
										<div class="msg-alert info information"><:agenda:info_evenement_repetition:></div>
									</div>][
									(#CONFIG{agenda/evenements_afficher_descriptif}|=={non}|?{#ENV{descriptif,''},' '}|?{' '})
									<div class="editer editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
										<label for="descriptif"><:agenda:evenement_descriptif:></label>[
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>
										]<textarea name='descriptif' rows='5' id='descriptif' class="inserer_barre_edition inserer_previsualisation">[(#ENV{descriptif})]</textarea>
									</div>][
									(#ENV{_affiche_inscription,#CONFIG{agenda/evenements_afficher_inscription}|!={non}|?{oui}}|=={oui}|oui)
									<div class="editer editer_inscription[ (#ENV**{erreurs}|table_valeur{inscription}|oui)erreur]">
										<div class='choix inscription'>
												[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{inscription})</span>]
												<input type='checkbox' class='checkbox' name='inscription' id='inscription' value="1"[ (#ENV{inscription}|oui)checked="checked"] />
												<label for="inscription"><:agenda:label_inscription:></label>
											</div><div class='choix places'>
											<label for="places"><:agenda:label_places:></label>[
											<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{places})</span>
											]<input type='text' class='text' name='places' id='places' value="[(#ENV{places})]" />
										</div>
									</div>][
									(#CONFIG{agenda/evenements_afficher_lieu}|=={non}|?{#ENV{lieu,''},' '}|?{' '})
									<div class="editer editer_lieu[ (#ENV**{erreurs}|table_valeur{lieu}|oui)erreur]">
										<label for="lieu"><:agenda:evenement_lieu:></label>[
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{lieu})</span>
										]<input type='text' class='text' name='lieu' id='lieu' value="[(#ENV{lieu})]" />
									</div>][
									(#CONFIG{agenda/evenements_afficher_adresse}|=={non}|?{#ENV{adresse,''},' '}|?{' '})
									<div class="editer editer_adresse[ (#ENV**{erreurs}|table_valeur{adresse}|oui)erreur]">
										<label for="adresse"><:agenda:evenement_adresse:></label>[
										<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{adresse})</span>
										]<textarea name='adresse' rows='3' id='adresse'>[(#ENV{adresse})]</textarea>
									</div>]
								</div>
								[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
								<!--extra-->
								<INCLURE{fond=formulaires/inc-modif_synchro_source,env} />
								<p class='boutons'><input type='submit' class='submit noscroll' value='[(#ENV{id_evenement}|?{<:bouton_enregistrer:>,<:bouton_ajouter:>})]' /></p>
							</div></form>
							#INCLURE{fond=formulaires/dateur/inc-dateur}
							]
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
<script type="text/javascript">
	[(#ENV{_picker}|=={jqueryui}|oui)
	// Si changement de date_début, on change date_fin uniquement si inférieure à date_début
	jQuery('#date_debut').on('change', function(){
		var debut_date     = jQuery('#date_debut').datepicker("getDate");
		jQuery('#date_fin').datepicker( "option", "minDate", new Date(debut_date));
	});]
	[(#ENV{id_evenement_source}|non)
	var repetitions_done = false;
	jQuery(document).bind('datePickerLoaded',function(){
		console.log('datePickerLoaded');
		if (!repetitions_done){
			repetitions_done = true;
			[(#ENV{_picker}|=={jqueryui}|oui)
			jQuery.getScript('#CHEMIN{javascript/jquery-ui.multidatespicker.js}',function(){
				var multidate_picker_options = {altField: '#repetitions'};
				/**
				 * Multidatepicker n'aime pas un array vide apparemment
				 */
				if(jQuery('#repetitions').html() != ""){
					multidate_picker_options.addDates = jQuery('#repetitions').html().split(',');
				}
				jQuery('#repetitions_picker')
					.multiDatesPicker(jQuery.extend(
								date_picker_options(),
								multidate_picker_options
					))
					.addClass('.pickable'); // une seule fois;
				jQuery('#repetitions').attr("readonly","readonly");
			});
			][(#ENV{_picker}|=={jqueryui}|non)
				var dates = jQuery('#repetitions').html().split(',');
			  console.log(dates);
				jQuery('#repetitions').attr("readonly","readonly");
				date_picker_enable_on_this.apply(jQuery('#repetitions_picker').get(0), \[{
					calendarWeeks: true,
					multidate: true,
					multidateSeparator: ','
				}\]);
				// un peu de gymnastique pour initialiser le picker en passant la liste des dates comme une liste d'arguments
			  if (dates.length) {
					var args = dates;
					args.unshift('update');
					jQuery.fn.datepicker.apply(jQuery('#repetitions_picker'), args);
			  }
				jQuery('#repetitions_picker').on('changeDate', function() {
			    $('#repetitions').val(
			        $('#repetitions_picker').datepicker('getFormattedDate')
			    );
				});
			]
		}
	});
	]
</script>
