/*! coraxspip.css v1.0.0 | MIT License | Template */

/* global display*/
body{
	font-family: 'Montserrat', sans-serif;
	background-color: #0C5351;
	font-size: 1em;
	padding: 20px;
}
.container-fluid{
	margin-right: 15px;
}

h1, h2, h3, h4.card-title,legend, .formulaire_recherche label {

	font-family: 'Amaranth';
}
h1{
	font-size: 2.2rem;
}
h2, .formulaire_recherche label{
	font-size: 2rem;

}
h3, h4.card-title, legend{
	font-size: 1.5rem;
	font-weight: normal;
}
h4{
	font-weight: bold;
}
.presentation-tel{
	display: none;
}
.presentation-ecran{
	display: flex;
}

aside{
	margin-left: 30px;
}
.bouton-tel{
	margin-right: 10px;
}
/* global display small screen*/

@media (max-width: 523px) {
	body, .btn{
		font-size: 0.8rem;
	}

	h1 {
		font-size: 1.7rem;
	}
	h2, .form-search label{
		font-size: 1.5rem;

	}
	h3,h4.card-title, legend {
		font-size: 1.3rem;
		font-weight: normal;
	}
	.presentation-tel{
		display: flex;
	}
	.presentation-ecran{
		display: none;
	}
	.bouton-ecran{
		display: none;
	}

}
@media (max-width: 992px) {
	aside{
		display: none;
	}
}
@media (max-width: 735px) {
	.markItUpTabs {
		display: none;
	}
}

@media (max-width: 663px) {
	.markItUpTabs{
		display: none;
	}
}

/* card image display */
.my-card-img{
	min-height: 100%;
	object-fit: cover;
}
.card-fit{
	height: 100%;
}

/* color scheme */

.arbo, h3.dark, h1, h2, .formulaire_recherche label {
	color:#FF9F00;
}
.bg-title-line{
	background-color: #133C3E;
}
h1.card-title, h2.card-title, h3, h4.card-title, legend{
	color: #0C5351 ;
}
.card, .formulaire_spip, .formulaire_spip .boutons, .page-item.disabled .page-link, .page-link  {
	background-color: #F1ECDB;
}

body input.submit, .btn-primary {
	background-color:#FF9F00;
	border: none;
}
body input.submit:hover, .btn-primary:hover {
	background-color:#FF9F00;
	color: white;
}
aside ul{
	/* color: rgba(255, 255, 255, 0.5);
	opacity: 0.9;
	*/
	color: lightgrey;
}
.formulaire_recherche{
	background-color: #0C5351;
}
/* #f48719 */







