/*! coraxspip-font.css v1.0.0 | MIT License | Import webfonts */

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Marck+Script&family=Niconne&family=Oleo+Script&family=Rye&family=Tangerine:wght@400;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
