/*! layout.css v1.1.0 | MIT License | Layout */

/* Site logo */
.spip_logo {
	margin: 0;
}

/* Footer display */
footer {
	background-color: #133c3e;
	border-radius: 5px;
	border-top-style: none;
	color: #ff9f00;
}

@media (max-width: 728px) {
	footer .row {
		width: 100%;
	}
}

footer a:hover,
footer a:active {
	background-color: transparent;
	color: #ffd454;
}

footer h4 {
	font-size: 1.1rem;
	font-weight: bold;
}

footer .social {
	padding: 1em;
}

footer .social i {
	font-size: 2.7em;
}

footer .contact {
	padding: 1em;
}

footer .contact i {
	font-size: 1.5em;
}

footer .menu {
	padding: 1em;
}

footer .footer-list {
	list-style-type: none;
}
