/*! coraxspip-links.css v1.0.0 | MIT License | Hyperlinks */

/** Internal links */
a {
	background: transparent;
	color: #ff9f00;
	text-decoration: none;
}

a:hover {
	color: #f48719;
	cursor: pointer;
	text-decoration: underline;
}

/** External links */
a.spip_out:after,
a.external:after {
	content: "\0000a0\279A";
}
a[hreflang].spip_out:after,
a[hreflang].external:after {
	content: "\0000a0[" attr(hreflang) "]\0000a0\279A";
}

/** Do not links on images */
@media print {
	a,
	a:visited {
		text-decoration: underline;
	}

	a:after {
		content: '';
	}

	a.spip_url:after,
	a[rel="external"]:after,
	a.external:after {
		content: " (" attr(href) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: '';
	}
}
