/*! coraxspip-media.css v1.0.0 | MIT License | Images */

/** Making images responsive by default */
img {
	max-width: 100%;
	height: auto;
}
@media print {
	img {
		max-width: 100% !important;
	}
}
img {
	vertical-align: middle;
}

/**
 *  Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Hide the `template` element in Safari, and Firefox < 22.
 */
template {
	display: none;
}

/* thumbnail */
.thumb,
.thumb.left {
	margin: 0 10px 10px 0;
}
.thumb.right {
	margin: 0 0 10px 10px;
}
/* style effects */
img.round {
	border-radius: 5px;
}
img.circle {
	border-radius: 50%;
}
img.border {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
}
img.shadow {
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

/* figure */
figure {
	margin: 0;
	margin-bottom: 0.75em;
	text-align: center;
}
figure.center {
	margin-bottom: 1.5em;
}
figure.left {
	margin-right: 1.5em;
}
figure.right {
	margin-left: 1.5em;
}
@media (max-width: 640px) {
	figure {
		margin-bottom: 1.5em;
	}
	figure.left {
		float: none;
		margin-right: 0;
	}
	figure.right {
		float: none;
		margin-left: 0;
	}
}
