/*! nav.css v1.0.0 | MIT License | Nav */

nav {
	border-radius: 5px;
}

nav ul {
	text-align: center;
}

nav a.nav-link {
	font-weight: bold;
	border: 2px solid transparent;
	padding: 1px 8px;
}

nav a.nav-link:focus {
	color: whitesmoke;
	border: 2px solid transparent;
	text-decoration: none;
}

nav a.nav-link:hover {
	color: whitesmoke;
	border-bottom: 2px solid #ff9f00;
	text-decoration: none;
}

nav .btn-primary,
nav .btn-primary.disabled {
	background-color:#ff9f00;
	color: black;
	border: none;
}

nav .btn-primary:active,
nav .btn-primary:hover,
nav .btn-primary:active,
nav .btn-primary:focus {
	background-color: #ffd454;
	color: black;
	text-decoration: none;
}
