/*! theme.css v1.0.0 | MIT License | Graphic lining */

/* Pagination */
.pagination-items {
	background: #f0f0f0;
	border-radius: .25em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding-left: 0;
	list-style: none;
}

.pagination-item {
	border-radius: .25em;
	margin: 0em;
	display: flex;
	flex-basis: 7.5%;
	align-items: center;
}

.pagination_precedent_suivant .pagination-item {
	flex-basis: auto;
}

.pagination-item-label {
	display: block;
	padding: .5em;
	flex-basis: 100%;
	text-decoration: none;
	text-align: center;
}

.on .pagination-item-label {
	background: #ffd454;
	font-weight: bold;
}

a.pagination-item-label {
	color: black;
	text-decoration: none;
}

a.pagination-item-label:active {
	background: #ffd454;
}

a.pagination-item-label:hover,
a.pagination-item-label:focus {
	background: #ffd454;
	text-decoration: none;
}

.next a.pagination-item-label:hover,
.next a.pagination-item-label:focus {
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
}

.prev a.pagination-item-label:hover,
.prev a.pagination-item-label:focus {
	border-top-left-radius: .25em;
	border-bottom-left-radius: .25em;
}

.next, .prev {
	font-weight: bold;
}

/* Fessti'Jeux*/
.programme-festival
{
	text-align: justify;
}

.programme-festival a
{
	color: #0C5351;
	font-weight: bold;
}
